body {
	background-color: #E1E7F3;
	color: #00A697;
	margin: 40px 0 0;
}

.container {
	width: 80%;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;

a {
	cursor: pointer !important;
	color: #00A697;
	text-decoration: none !important;}

header {
	display: flex;
	justify-content: space-between;
}
.name {
	font-weight: bold;
	letter-spacing: 1px;
}